<h3>Listando repositorios destaques</h3>
<div class="row">
  <% @repositories.each do |row| %>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= row.user %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= row.repository %></h6>
          <p class="card-text">
            <%= row.user %> - <%= row.repository %> - <%= row.language %></p>
          <a href="<%= row.url %>" class="card-link" target="_blank"><%= row.repository %></a>
        </div>
      </div>
      <br>
    </div>

  <% end %>
</div>