  <h3>Detalhes <%= @repository.repository %></h3>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><%= @repository.user %></h5>
      <p class="card-text"><%= @repository.repository %> - <%= @repository.language %></p>
      <p class="card-text">
        <a href="<%= @repository.repository %>" target="_blank" class="text-muted"><%= @repository.url %></a>
      </p>
    </div>
  </div>
  <br>
